// Template Color : https://flatuicolors.com/palette/defo
$nephritis : #27ae60;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wetasphalt: #34495e;
$carrot: #e67e22;
$alizarin: #e74c3c;
$concrete: #95a5a6;
$silver: #bdc3c7;
$peterriver: #3498db;