h1 {
    font-size: 24px;
    font-weight: 400;
}
p, ul li {
    line-height: 1.8;
    color: rgba(0,0,0,.5);
}
.btn { background-color: #32dfc4; }
#title a { color: #32dfc4; }
#content h2 { font-weight: 400; }
#content h3 { font-size: 20px; }
#footer-widgets {
    border-top: 1px solid rgba(0,0,0,.05);
    bottom: 0px !important;
}
#footer-widgets h3 {
    font-size: 20px;
    font-weight: 400;
}
#usefull-links li {
    padding-bottom: 5px;
}
#usefull-links li a {
    color: #000;
    font-weight: 400;
}